body {
    margin: auto;
    padding: 20px;
    max-width: 720px;
    text-align: left;
    word-wrap: break-word;
    overflow-wrap: break-word;
    line-height: 1.5;
}



a {
    cursor: pointer;
    text-decoration: underline;
}



a:hover {
    text-decoration: underline;
}

.navbar a {
    text-decoration: none;
}

main {
    margin-top: 40px;
    margin-bottom: 20px;
    padding: 30px;
    line-height: 1.6;
}


@media only screen and (max-width:767px) {
    main {
        padding: 20px;
        margin-top: 30px;
        margin-bottom: 10px;
    }
}


header nav {
    display: flex;
    gap: 15px; 
    flex-wrap: wrap;
}


.posts {
  margin-top: 1rem;
}

.post-item {
  display: flex;
  gap: 2rem;
  margin-bottom: 0.5rem;
}

.date {
  flex-shrink: 0;
  width: 120px;
  color: #999;
}

.posts a {
    text-decoration: none;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow-x: auto; /* fallback for very long words */
  padding: 10px;
}