<!DOCTYPE html>
<html lang="en">

<head>
  
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5">
    
    <title>david</title>


    <meta name="title" content="david">
    <meta name="description" content="">

    <link rel="icon" type="image/x-icon" href="favicon.jpg">
    <link rel="stylesheet" href="index.css">

  
</head>

<body class="home">
  
    <header>
      <nav class="navbar">
          <a href="/">Home</a>
          <a href="/projects/">Projects</a>
          <a href="/blog/">Blog</a>
      </nav>
    </header>


  <h1>David</h1>
  <p>I build and break down deep learning systems.</p>
  
  <strong><p>what I'm currently doing:</p></strong>
  <ul>
    <li>
      <p>research assistant working on ML systems for at-risk languages at the University of Saskatchewan</p>
    </li>
    <li>
      <p>studying learning algorithms, gradient-based optimization and neural architectures </p>
    </li>
  </ul>



  <p>co-founder of <a href="https://embodiedthinking.org">The Embodied Thinking Lab</a> a small independent lab exploring intelligence in physical robotics</p>

  <a href="https://github.com/44David">github</a>
  <a href="https://huggingface.co/44David">huggingface</a>


  <p>david.soane[at]outlook[dot]com</p>
</body>
</html>